.input-form-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 25px;
  row-gap: 10px;
}

.input-form-container > div {
  background-color: #e9e9e9;
  border: 1px solid #929292;
  border-radius: 5px;
  padding: 10px 0 20px 0;
}

.input-form-container p {
  height: 18px;
}
